<div class="container portfolio py-5" id="All">
  <div class="row rowsetting">
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_1272.JPG" alt="" (click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/_ASN8885.JPG" alt=""(click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_1304.JPG" alt=""(click)="openModal()">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_07202.jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/23-12 (908).jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/DSC_064122.jpg"(click)="openModal()">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/A.S.N 1 (53)_1.jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_SAR9651.jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_ASN6408.jpg"(click)="openModal()">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/_ASN0685.jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_ASN0665.jpg"(click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/ASN_4161d.jpg"(click)="openModal()">
    </div>
  </div>
  <div class="row rowsetting" id="load" *ngIf="allLoadMore">
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_0450.jpg" alt=""(click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/_ASN7185_1.jpg" alt=""(click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_0188.jpg" alt=""(click)="openModal()">
    </div>
  </div>
  <div class="py-5 text-center d-flex flex-column justify-content-center align-items-center ">
    <button  class="btn-2 text-dark btn-md " id="button" *ngIf="allLoadButton" (click)="allLoad()">Load More</button>
  </div>
</div>
