<div class="container portfolio py-5" id="Baby-Shower">
  <div class="row rowsetting">
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_0958.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_ASN0665.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_ASN1181.jpg" (click)="openModal()">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/ASN_4161d.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/DSC_0188.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/DSC_0955.jpg" (click)="openModal()">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/_ASN1170.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/DSC_0996.jpg" (click)="openModal()">
      <img class="img-portfolio" src="../../assets/img/_ASN0685.jpg" (click)="openModal()">
    </div>
  </div>
  <div class="row rowsetting" id="load4" *ngIf="babyLoadMore">
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/_ASN0555.jpg" alt="" (click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_0386.jpg" alt="" (click)="openModal()">
    </div>
    <div class="col-sm-4 col-10 d-block m-auto porfolio-settings">
      <img class="img-portfolio" src="../../assets/img/DSC_8977.jpg" alt="" (click)="openModal()">
    </div>
  </div>
  <div class="py-5 text-center d-flex flex-column justify-content-center align-items-center ">
    <button class="btn-2 text-dark btn-md" id="button4" *ngIf="babyLoadButton" (click)="babyLoad()">Load More</button>
  </div>
</div>
