<section id="service">
  <!-- Heading -->
  <div
    class="d-flex flex-column justify-content-center align-items-center text-center text-white hearderset service-header ">
    <h1>Services</h1>
  </div>
  <!-- What we offer -->

  <div class="container ourservices py-5">
    <h1>What We Offer</h1>
    <p>Our photography style is modern, contemporary and off-beat. A short selection of some of our favourites is given
      below. To see more of our work, check out the full showcase or follow us on facebook</p>

    <div class="row py-5">

      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class="imgsetting d-flex justify-content-center text-warning" style="font-size: .8em;">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-eye-fill"
            viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
          </svg>
        </div>
        <h2 class="text-center w-50">Wedding Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">You’re getting married. You and your partner have a beautiful
          story, and you need someone to tell it? That’s where we come in.</p>
      </div>
      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class=" imgsetting d-flex justify-content-center text-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-camera-video-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
          </svg>
        </div>

        <h2 class="text-center"> Pre-Wedding Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">Every Wedding have a beautiful story you and your partner will
          have best experience with us.</p>
      </div>
      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class="imgsetting d-flex justify-content-center text-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-camera-fill"
            viewBox="0 0 16 16">
            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path
              d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
          </svg>
        </div>

        <h2 class="text-center">Baby-Shower Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">PREGNANCY is a beautiful time for you and your family,
          Celebrate it by creating long lasting memories of this exciting time in your life.</p>


      </div>
      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class="imgsetting d-flex justify-content-center text-warning mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-circle-half"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
          </svg>
        </div>

        <h2 class="text-center w-50">Fashion Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">Fashion trends are changing constantly. Styles and looks
          become old in a matter of months.With us your photos will never looks like old.</p>


      </div>
      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class="imgsetting d-flex justify-content-center text-warning mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-handbag-fill"
            viewBox="0 0 16 16">
            <path
              d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z" />
          </svg>
        </div>

        <h2 class="text-center w-50">Product Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">If You want to launch your product.We will be the best option
          for you creative advertisement and promotion.</p>


      </div>
      <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center flex-column px-sm-3 px-5">

        <div class="imgsetting d-flex justify-content-center text-warning mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-person-bounding-box"
            viewBox="0 0 16 16">
            <path
              d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          </svg>
        </div>

        <h2 class="text-center w-50">Personal Photography</h2>
        <p class="text-justify" style="min-height: 6rem;">We have taken several photo shhots for model
          photography.Creative portfolio for you will make a good effect.</p>


      </div>


    </div>
  </div>
  <!-- Why choose us -->
  <div class="bg-light">
    <div class="container portfolio py-5">
      <div class="position-relative d-none d-sm-block" style="z-index: 0;">
        <div class="position-absolute" style="top: -4.5rem;
        left: -3rem;">
          <span class="text-overlay">BENEFITS</span>
        </div>
      </div>
      <h1 style="z-index: 999;">
        Why Choose Us</h1>
      <p>Our photography style is modern, contemporary and off-beat.</p>

      <div class="row rowsetting py-5">


        <div class="col-sm-6 col-12 d-flex justify-content-center flex-column px-sm-3 px-5">

          <div class="d-flex justify-content-between">

            <div class="imgsettings bg-warning d-flex justify-content-center align-items-center px-sm-4 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image-fill text-white"
                viewBox="0 0 16 16">
                <path
                  d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
              </svg>
            </div>
            <div class="px-sm-3 px-3">
              <h3>High Quality</h3>
              <p>Photos and video shot of in high end cameras will give you the perfect result you want</p>
            </div>

          </div>
          <div class="d-flex justify-content-between">

            <div class="imgsettings bg-warning d-flex justify-content-center align-items-center px-sm-4 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-hourglass-split text-white"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
              </svg>
            </div>

            <div class="px-sm-3 px-3">
              <h3>Timeless Style</h3>
              <p>Every click tells a story we never miss your Moments through time</p>
            </div>

          </div>
          <div class="d-flex justify-content-between">

            <div class="imgsettings bg-warning d-flex justify-content-center align-items-center px-sm-4 px-4">
<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-stopwatch-fill text-white"
  viewBox="0 0 16 16">
  <path
    d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z" />
</svg>
            </div>

            <div class="px-sm-3 px-3">
              <h3>Unlimited Time</h3>
              <p>Every click tells a story we never miss your Moments through time</p>
            </div>

          </div>
          <div class="d-flex justify-content-between">

            <div
              class="imgsettings bg-warning d-flex justify-content-center align-items-center flex-column px-sm-4 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-hearts text-white"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z" />
              </svg>
            </div>

            <div class="px-sm-3 px-3">
              <h3>Experience</h3>
              <p>Our clinets always had best experience and shared recomendations for us.</p>
            </div>

          </div>
        </div>
        <div class="col-sm-6 col-12 d-flex justify-content-center flex-column pt-3 pb-3 m-auto shadow">

          <img src="../../assets/img/DSC_2699.jpg">
        </div>

      </div>

    </div>

  </div>
</section>

